/*ESTILO A LOS ASTERISCOS DE REQUERIDO*/
.required{
  color:red;
  font-size:20px;
}

.reader {
    border:none!important;
    outline:none!important;
    padding:none!important;
    height: 20px!important;
    background-color:rgba(0, 0, 0, 0);
    text-align: left!important;
    margin-left: 0px!important;
    -webkit-appearance: none;
    -mox-appearance: none;
}


/*PARA LOS DOLARES Y EUROS*/
.input-dollar {
    position: relative;
}
.input-dollar.left input {
    padding-left:18px;
}
.input-dollar.right input {
    padding-right:18px;
    text-align:end;
}

.input-dollar:before {
    position: absolute;
    top: 5px;
    content:"$";
    margin-left: 7px;
}
.input-dollar.left:before {
    left: 5px;
}
.input-dollar.right:before {
    right: 5px;
}

label {
    float: left
}
span {
    display: block;
    overflow: hidden;
    padding: 0 4px 0 6px
}


/*ESTILO A LOS INPUT NUMBER COMO LOS INPUT TEXT*/
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/*NAVBAR STYLE*/
.navbar{

}

.navbar-icon-top .navbar-nav>li>a>.fa, .navbar-icon-top .navbar-nav>li>a>.glyphicon {
    position: relative;
    width: 36px;
    font-size: 24px;
}
.navbar-icon-top .navbar-nav>li>a>.fa>.badge, .navbar-icon-top .navbar-nav>li>a>.glyphicon>.badge {
    position: absolute;
    right: 0;
    font-family: sans-serif;
}
.navbar-icon-top .navbar-nav>li>a>.fa {
    top: 3px;
    line-height: 12px;
}
.navbar-icon-top .navbar-nav>li>a>.fa>.badge {
    top: -10px;
}
.navbar-icon-top .navbar-nav>li>a>.glyphicon {
    top: 6px;
    line-height: 6px;
}
.navbar-icon-top .navbar-nav>li>a>.glyphicon>.badge {
    top: -16px;
}

@media (min-width: 768px) {
    .navbar-icon-top .navbar-brand {
        padding: 25px 15px;
    }
    .navbar-icon-top .navbar-text {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .navbar-icon-top .navbar-btn, .navbar-icon-top .navbar-form {
        margin-top: 18px;
        margin-bottom: 18px;
    }
    .navbar-icon-top .navbar-nav>li>a {
        text-align: center;
        display: table-cell;
        height: 72px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }
    .navbar-icon-top .navbar-nav>li>a>.fa, .navbar-icon-top .navbar-nav>li>a>.glyphicon {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }
    .navbar-icon-top .navbar-nav>li>a>.fa>.badge, .navbar-icon-top .navbar-nav>li>a>.glyphicon>.badge {
        top: -7px;
    }
}

.cooler{
  text-align: right;
  color: blue;
}

.form-n1{
  width: 25px!important;
  height: 25px!important;
  padding: 0px 0px 0px 5px!important;
}

.form-n2{
  width: 35px!important;
  height: 25px!important;
  padding: 0px 0px 0px 5px!important;
}

.form-n3{
  width: 50px!important;
  height: 25px!important;
  padding: 0px 0px 0px 5px!important;
}

.form-n5{
  width: 55px!important;
  height: 25px!important;
  padding: 0px 0px 0px 5px!important;
}

.form-n6{
  width: 65px!important;
  height: 25px!important;
  padding: 0px 0px 0px 5px!important;
}

.form-n8{
  width: 80px!important;
  height: 25px!important;
  padding: 0px 0px 0px 5px!important;
}

.form-n12{
  width: 100px!important;
  height: 25px!important;
  padding: 0px 0px 0px 5px!important;
}

.form-n15{
  width: 120px!important;
  height: 25px!important;
  padding: 0px 0px 0px 5px!important;
}

.form-n17{
  width: 150px!important;
  height: 25px!important;
  padding: 0px 0px 0px 5px!important;
}

.form-n25{
  width: 220px!important;
  height: 25px!important;
  padding: 0px 0px 0px 5px!important;
}

.form-n30{
  width: 260px!important;
  height: 25px!important;
  padding: 0px 0px 0px 5px!important;
}

.form-xs{
    width:80px!important;
}

.form-sm{
    width:130px!important;
}

.form-md{
    width:230px;
}

.form-lg{
    width:230px;
}

.form-bg{
    width:385px;
}
